# Environment variables
# Rename this file to .env

# Database
# For SQLite (Recommended for local dev)
DATABASE_URL="file:./dev.db"

# LINE Bot
LINE_CHANNEL_SECRET=""
LINE_ACCESS_TOKEN=""

# LINE Login
LINE_CHANNEL_ID=""

# Google API
GOOGLE_API_KEY=""
